<div ui-view>
  <div ng-show="vm.error === true" class="row center"><h5 class="red-text">You must be logged in.</h5></div>
  <h5>{{vm.blog.title}}
    <a ng-click="delete(vm.blog.id)" class="btn right"><i class="material-icons">delete</i></a>
    <a href="/edit/{{vm.blog.id}}" class="btn right"><i class="material-icons">edit</i></a>
  </h5>
  <h6 class="blue-text">"{{vm.blog.name}}"  <time class="tooltipped grey-text" data-position="bottom" data-delay="0" data-tooltip="{{vm.blog.updated_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}">{{vm.blog.updated_at | amCalendar}}</time></h6>
  <img ng-src="{{vm.blog.image}}" />
  <p>{{vm.blog.description}}</p>
</div>
<div ui-view="comments">

</div>
