<div ng-show="vm.error === true" class="row center"><h5 class="red-text">You must be logged in.</h5></div>
<h3>Editing</h3>
<form ng-submit="editPost()" name="postForm" novalidate>
  <div class="row">
    <input ng-model="vm.form.title" ng-class="{invalid: postForm.title.$invalid && vm.formSubmitted}" type="text" name="title" placeholder="title" class="col s9" required>
    <div ng-show="postForm.title.$invalid && vm.formSubmitted" class="col s2 red-text">Required</div>
  </div>
  <div class="row">
    <input ng-model="vm.form.image" ng-class="{invalid: postForm.image.$invalid && vm.formSubmitted}" type="text" name="image" placeholder="image url" class="col s9" required>
    <div ng-show="postForm.image.$invalid && vm.formSubmitted" class="col s2 red-text">Required</div>
  </div>
  <div class="row">
    <textarea ng-model="vm.form.description" ng-class="{invalid: postForm.description.$invalid && vm.formSubmitted}" type="text" name="description" cols="10" rows="200" placeholder="description" class="col s9 materialize-textarea" required></textarea>
    <div ng-show="postForm.description.$invalid && vm.formSubmitted" class="col s2 red-text">Required</div>
  </div>
  <button type="submit" name="button" class="btn">Submit</button>
</form>
