<div class="row">
  <form ng-submit="login()" name="loginForm" class="col s5 left" novalidate>
    <h4>Login</h4>
    <div class="row">
      <input ng-model="vm.loginForm.email" ng-class="{invalid: loginForm.email.$invalid && vm.loginSubmitted}" type="email" name="email" placeholder="email@domain.com" class="col s12" required>
      <div ng-show="loginForm.email.$invalid && vm.loginSubmitted" class="col s12 red-text">Required</div>
    </div>
    <div class="row">
      <input ng-model="vm.loginForm.password" ng-class="{invalid: loginForm.password.$invalid && vm.loginSubmitted}" type="password" name="password" placeholder="password" class="col s12" required>
      <div ng-show="loginForm.password.$invalid && vm.loginSubmitted" class="col s12 red-text">Required</div>
    </div>
    <button type="submit" name="loginSubmit" class="btn blue-grey">Sign In</button>
  </form>
  <form ng-submit="join()" name="joinForm" class="col s5 right" novalidate>
    <h4>Sign Up</h4>
    <div class="row">
      <input ng-model="vm.joinForm.name" ng-class="{invalid: joinForm.name.$invalid && vm.joinSubmitted}" type="text" name="name" placeholder="username" class="col s12" required>
      <div ng-show="joinForm.name.$invalid && vm.joinSubmitted" class="col s12 red-text">Required</div>
    </div>
    <div class="row">
      <input ng-model="vm.joinForm.email" ng-class="{invalid: joinForm.email.$invalid && vm.joinSubmitted}" type="email" name="email" placeholder="email@domain.com" class="col s12" required>
      <div ng-show="joinForm.email.$invalid && vm.joinSubmitted" class="col s12 red-text">Required</div>
    </div>
    <div class="row">
      <input ng-model="vm.joinForm.password" ng-class="{invalid: joinForm.password.$invalid && vm.joinSubmitted}" type="password" name="password" placeholder="password" class="col s12" required>
      <div ng-show="joinForm.password.$invalid && vm.joinSubmitted" class="col s12 red-text">Required</div>
    </div>
    <button type="submit" name="joinSubmit" class="btn blue-grey">Join</button>
  </form>
</div>
<br />
<div ng-show="vm.error === true" class="row center">
  <h5 class="red-text">Invalid email, username or password.  Please try again.</h5>
</div>
